examples {
  ["Layer description is correct"] {
    "Layer with left_command"
  }
  ["SimLayer description is correct"] {
    "Simultaneous f layer"
  }
  ["DualUse description is correct"] {
    "Dual Use caps_lock"
  }
  ["ShiftMode description is correct"] {
    "Simultaneous a layer"
  }
  ["Config title is correct"] {
    "Karabiner-Pkl Configuration"
  }
}
